
.empty-status {
  border-radius: 12px;
  border: .5px solid var(--practera-card-border-color);
  min-height: 58px !important;
  h3 {
    color: var(--practera-review-title);
  }
}
.top-round-btns {
  .do {
    --border-radius: 50px 0 0 50px;
    --background-activated: var(--ion-color-primary);
  }
  .done {
    --border-radius: 0 50px 50px 0;
    margin-left: -4px;
    --background-activated: var(--ion-color-primary);
  }
  .btn-none-active {
    --color: var(--ion-color-primary);
    --background: var(--practera-button-review-bg);
  }
}

.review {
  h3 {
    font-weight: bold;
  }
  ion-text {
    float: right;
    top: 61px;
    position: absolute;
    right: 22px;
  }
  .check-mark {
    float: right;
    padding-right: 6px;
    position: relative;
    top: -16px;
  }
}
