body {
  background-color: #c7cbe1;
}
#mainContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/************
  Font Size
************/
h2, .h2 {
  font-size: 24px !important;
}
h3, .h3 {
  font-size: 18px !important;
}
h4, .h4 {
  font-size: 16px !important;
}
h5, .h5 {
  font-size: 14px !important;
}
p, .p {
  font-size: 16px !important;
}

// used in login, forgot password, regestration page
.div-logo {
  margin-top: 10vh;
  margin-bottom: 7vh;

  &.registration {
    margin-top: 7vh;
  }

}
.div-after-logo {
  margin: 0 30px 50px;
}
.img-inline {
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  width: auto !important;
}
.vertical-middle {
  vertical-align: middle;
}
.text-split {
  margin-top: 40px;
  margin-bottom: 40px;
}
.clearfix {
  clear: both;
}

// used for todo-card, activity-card, tasks list, program switcher page, setting page
.practera-card {
  border-radius: 12px;
  margin: 30px 0;
}
// used for todo-card & tasks list
.icon-item {
  width: 100%;
  h5 {
    text-overflow: ellipsis;
    margin-bottom: 0px;
    max-width: 80%;
  }
  .h5 {
    font-weight: 500;
    text-overflow: ellipsis;
    margin-top: 0px;
    margin-bottom: 10px;
    overflow: hidden;
    max-height: 16px;
    -webkit-line-clamp: 1;
    line-height: 16px;
  }
}

.background-white {
  background: white;
}

// question name
.q-title {
  font-weight: bold;
  display: block;
  padding-bottom: 0;
}
// question content
.q-content {
  padding-top: 0;
}
// the div block for review
.q-reviews {
  border: 2px solid var(--ion-color-warning);
  padding: 5px 10px 10px;
  margin-top: 10px;
  border-radius: 12px;
}

.paragraph {
  white-space: pre-wrap;
}

.vertical-middle {
  display: inline-block;
  vertical-align: middle;
}
// change white-space to normal - use in choices.
.white-space-normal {
  white-space: normal !important;
}

